@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Logica
@using Obligatorio_P1
@model List<Cuenta>




<div class="activos-page">
    <table class="activos-table">
    </hr>
    <h2>DATOS DE LA CUENTA</h2>
    <tr>
        <th>ID</th>
        <th>MFA</th>
        <th>Ultimo cambio de contraseña</th>
        <th></th>
    </tr>
    @foreach (Cuenta cuenta in Model)
    {
        <tr>
            <td>@cuenta.Id</td>
            <td>@cuenta.MFA</td>
            <td>@cuenta.UCContrase</td>
            <td>
                @Html.ActionLink("Activos", "ListadoActivosAdmin",new { id = cuenta.Id })
            </td>
            <td>
            @if (cuenta.Titular.Cargo == Logica.Cargo.OPERADOR)
            {
                @Html.ActionLink("Crear Activo", "CrearActivo", new { idCuenta = cuenta.Id, cedulaPersona = cuenta.Titular.Cedula })

            }
            </td>

        
        
        </tr>
    }
</table>
</div>
@ViewBag.Error