@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Obligatorio_P1
@model List<Persona>

<h1>Personas</h1>

<div class="activos-page">
    <form method="get" class="activos-form">
        <table class="activos-table">
            <thead>
                <tr>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Cargo</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                @foreach (Persona p in Model)
                {
                    @if(p != null){
                    <tr>
                        <td>@p.Cedula</td>
                        <td>@p.Nombre</td>
                        <td>@p.Email</td>
                        <td>@p.Telefono</td>
                        <td>@p.Cargo</td>
                        <td>@Html.ActionLink("Cuentas", "listarCuentas", new {id = p.Cedula })</td>
                            <td>
                            @if (p.Cargo == Logica.Cargo.OPERADOR)
                            {
                               @Html.ActionLink("Crear Cuenta", "CrearCuenta", new { id = p.Cedula })

                            }
                            </td>
                          


                    </tr>
                    }
                    else
                {
                    <tr>
                            <td colspan="4">@ViewBag.Error</td>
                    </tr>
                }
                }
            </tbody>
        </table>
    </form>
    @ViewBag.Error
