
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Logica
@using Obligatorio_P1
@model Persona

<h1>Perfil de <span class="usuario-sesion">@Context.Session.GetString("nombre")</span></h1>

<label>Nombre</label>
<p>@Model.Nombre</p>
<label>Email</label>
<p>@Model.Email</p>
<label>Rol</label>
<p>@Model.Cargo</p>



<div class="activos-page">
    <table class="activos-table">
    </hr>
    <h2>DATOS DE LA CUENTA</h2>
    <tr>
        <th>ID</th>
        <th>MFA</th>
        <th>Ultimo cambio de contraseña</th>
    </tr>
    @foreach (Cuenta cuenta in ViewBag.Cuenta)
    {
        <tr>
            <td>@cuenta.Id</td>
            <td>@cuenta.MFA</td>
            <td>@cuenta.UCContrase</td>
        </tr>
    }
</table>
</div>
@ViewBag.Error