@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Logica;
@using Obligatorio_P1
@model Persona;

<form method="post">

    <h1>REGISTRESE</h1>
    <p>Ingrese sus datos</p>
    <br />
    <label for="Cedula">Cedula: </label>
    <input type="number" name="Cedula" value="@Model.Cedula">
    <br />
    <label for="Nombre">Nombre: </label>
    <input type="text" name="Nombre" value="@Model.Nombre" />
    <br />
    <label for="Email">Email: </label>
    <input type="text" name="Email" value="@Model.Email" />
    <br />
    <label for="Contraseña">Constraseña: </label>
    <input type="text" name="Contraseña" value="@Model.Contraseña" />
    <br />
    <label for="Telefono">Telefono: </label>
    <input type="number" name="Telefono" value="@Model.Telefono" />
    <br />
    <input type="submit" />

    

</form>
@ViewBag.Error